In [50]:
import fastquant as fq
import yfinance as yf
import pandas as pd
import numpy as np

In [51]:
from fastquant import get_crypto_data
## read somewhere on GitHUb, fastquant fetches data from any of the top six exchange on https://www.coingecko.com/en/exchanges
crypto1 = get_crypto_data("BTC/USDT", "2020-12-01", "2022-01-12")

In [52]:
## Yahoo Finance fetches data from CoinMarketCap
df = yf.download('BTC-USD', start='2020-12-01')
df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-11-30,18178.322266,19749.263672,18178.322266,19625.835938,19625.835938,47728480399
2020-12-01,19633.769531,19845.974609,18321.921875,18802.998047,18802.998047,49633658712
2020-12-02,18801.744141,19308.330078,18347.718750,19201.091797,19201.091797,37387697139
2020-12-03,19205.925781,19566.191406,18925.785156,19445.398438,19445.398438,31930317405
2020-12-04,19446.966797,19511.404297,18697.193359,18699.765625,18699.765625,33872388058

In [53]:
crypto2 = df.iloc[1:]
crypto2.head()
## dropping values from 30 Novemeber

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-01,19633.769531,19845.974609,18321.921875,18802.998047,18802.998047,49633658712
2020-12-02,18801.744141,19308.330078,18347.718750,19201.091797,19201.091797,37387697139
2020-12-03,19205.925781,19566.191406,18925.785156,19445.398438,19445.398438,31930317405
2020-12-04,19446.966797,19511.404297,18697.193359,18699.765625,18699.765625,33872388058
2020-12-05,18698.384766,19160.449219,18590.193359,19154.230469,19154.230469,27242455064

In [54]:
data = [crypto1['close'], crypto2['Close']]
headers = ['Close1', 'Close2']
new_df = pd.concat(data, axis=1, keys=headers)
new_df['pos_at_1Exchange'] = np.where(new_df['Close1'] > new_df['Close2'], 1, -1) 
new_df['pos_at_2Exchange'] = np.where(new_df['Close1'] < new_df['Close2'], 1, -1)
new_df['return'] = abs(new_df['Close1'] - new_df['Close2'])
new_df.head()

,Close1,Close2,pos_at_1Exchange,pos_at_2Exchange,return
2020-12-01,18764.96,18802.998047,-1,1,38.038047
2020-12-02,19204.09,19201.091797,1,-1,2.998203
2020-12-03,19421.90,19445.398438,-1,1,23.498437
2020-12-04,18650.52,18699.765625,-1,1,49.245625
2020-12-05,19147.66,19154.230469,-1,1,6.570469

In [56]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 408 entries, 2020-12-01 to 2022-01-12
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Close1            408 non-null    float64
 1   Close2            408 non-null    float64
 2   pos_at_1Exchange  408 non-null    int32
 3   pos_at_2Exchange  408 non-null    int32
 4   return            408 non-null    float64
dtypes: float64(3), int32(2)
memory usage: 15.9 KB